:root {
  font-size: calc(0.5em + 1vw); /* 20px */ 
  --main-font: 'Bagel Fat One', 'Black Remote', sans-serif;
  --main-color: #903332;
  --secondary-color: #b03633;
  --white-color: #fff;
  --main-pg-color: #f8f9fa;
  --secondary-pg-color: #fff;
}

/* Override the browser default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Global Style */
body {
  font-family: var(--main-font);
  background-color: var(--main-pg-color);
}

button {
  font-family: var(--main-font);
}
