.home .game-header {
  text-align: left;
}

.game-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-instructions .instructions {
  padding: 2em;
  max-width: 65%;
}

.instructions h2 {
  font-size: 1.6rem;
  color: var(--secondary-color);
}

.instructions .instructions-list {
  margin: 0.5em 0;
  padding-left: 0.5em;
  text-align: left;
  margin-left: 1em;
}

.instructions .instructions-list li {
  font-size: 1rem;
  list-style: outside;
}

.instructions p {
  font-size: 1.05rem;
}

.instructions button {
  font-size: 0.85rem;
  margin-top: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  color: white;
}

#start-btn {
  background-color: var(--secondary-color);
}
