#popup header {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  width: 100%;
}

#popup header p {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

#popup-exit-button {
  border: 0px;
  font-size: 0.9rem;
  background-color: transparent;
  color: var(--main-color);
  font-weight: bold;
}

#popup-container {
  color: var(--main-color) !important;
  display: none;
  background: transparent;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  backdrop-filter: blur(2px);
  --webkit-backdrop-filter: blur(2px);
  z-index: 1000;
}

#popup {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 0.3em;
}

#popup-content {
  color: black;
  font-size: 0.75rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5em;
}

#popup-exit-button:hover {
  cursor: pointer;
}

#difficulties-form {
  display: flex;
  justify-content: space-around;
}

.difficulty {
  position: relative;
  font-size: 0.5rem;
  border-radius: 0.3em;
  border: none;
  transition: transform 0.7s ease, color 0.35s ease;
  transform-style: preserve-3d;
  background: linear-gradient(45deg, var(--main-color), var(--secondary-color));
  margin: 0.5em;
  height: 7em;
  width: 7em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.difficulty .front p {
  font-size: 0.7em;
  color: white;
  font-family: var(--main-font);
  margin: 0;
}

.difficulty p.back {
  font-size: 2em;
}

.difficulty:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.back {
  z-index: 1;
  transform: rotateY(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  z-index: 2;
  font-size: 30px;
  transform: rotateY(0deg);
  font-family: var(--main-font);
}

.front,
.back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
