/* Header */
.game-header {
  font-size: 1rem;
  text-align: center;
  padding: 0.2em 0;
}

h1.game-title {
  font-size: 2rem;
  background: linear-gradient(45deg, var(--main-color), var(--secondary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Game Nav Styles */
.game-board {
  font-size: 0.9rem;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.2em;
}

.game-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 1.2em;
}

.game-stats .game-stats-header {
  font-size: 1.2em;
}

.game-stats .game-stats-value {
  font-size: 0.9em;
}

.game-controls {
  display: flex;
  gap: 0.5em;
}

/* .game-board .game-stats-header {
  margin: 0.3em 0.6em;
} */

.game-controls button {
  font-size: 0.85rem;
  font-family: var(--main-font);
  padding: 0.2em 1.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pause-btn {
  background-color: var(--main-color);
}

#reset-btn {
  background-color: var(--secondary-color);
}

/* Game Body */
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-grid {
  font-size: 1rem;
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  background-color: var(--main-bg-color);
  align-items: center;
}

.game-card {
  align-items: center;
  padding: 0.8em;
  border-radius: 0.3em;
  background-color: var(--secondary-pg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s;
  display: flex;
  justify-content: center;
}

.game-card:hover {
  cursor: pointer;
}

.small-card {
  font-size: 0.5rem;
  width: 5em;
  height: 5em;
}

.medium-card {
  font-size: 0.6rem;
  width: 6em;
  height: 6em;
}

.large-card {
  font-size: 0.7rem;
  width: 7em;
  height: 7em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.game-card-front,
.game-card-back {
  position: absolute;
  backface-visibility: hidden;
  size-adjust: 100%;
  width: 100%;
}

.game-card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.game-card-back {
  z-index: 1;
  font-size: 2em;
  font-size: 2em;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#scoreboard-btn {
  color: var(--main-color);
  background-color: var(--secondary-pg-color);
}

#scoreboard {
  display: none;
}

/* Overlay for the blurred background */
#scoreboard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Popup content */
.user-scores {
  width: 25%;
  max-height: 50vh;
  overflow-y: auto;
  font-size: 1rem;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-pg-color);
  padding: 1em;
  border-radius: 0.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  z-index: 1001; /* Ensure the popup is above the overlay */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user-scores h2 {
  font-size: 1.5rem;
  color: var(--main-color);
}

.user-scores .scores-table {
  width: 100%;
  font-size: 1rem;
}

.user-scores .scores-table th {
  font-size: 1.1rem;
  color: var(--main-color);
}

.user-scores .scores-table td {
  font-size: 0.9rem;
}

.user-scores .scores-table th,
.user-scores .scores-table td {
  padding: 0.2em 0.4em;
  text-align: center;
}

.winner-popup {
  font-size: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  text-align: center;
  width: 100%;
}

.winner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#winner.hidden {
  display: none;
}

.popup-content h2 {
  color: var(--main-color);
  margin-bottom: 10px;
}

.popup-content p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.popup-content button {
  font-size: 0.75rem;
  margin: 0.5em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: var(--main-color);
}